extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/eped.png', width='160')
		h1 Interface de gestion du wifi
		br
		p A partir de cette interface, les utilisateurs authentifiés peuvent désactiver le wifi pour une période donnée.